html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    background-image: url(img/hitam\ ikan.jpg);
}

.container {
    width: 100%;
    height: 100vh;
}

/* navbar */
.navbar {
    width: 100%;
    position: fixed;
}

span {
    color: white;
}

.brand a{
    text-decoration: none;
    font-size: 2.5rem;
    margin-left: 30px;
    color: crimson;
    font-weight: bold;
    font-family: cambria;
    text-shadow: 1px 1px 3px rgba(241, 237, 237, 0.5);
}

.brand a:hover {
    color: teal;
    cursor: pointer;
    transition: .5s ease-in-out;
}



.navigation ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 20px;

}

.navigation ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(241, 237, 237, 0.5);
}

.navigation ul li a:hover {
    color: teal;
    border-bottom: 2px solid;
    cursor: pointer;
    transition: .4s ease-in-out;
}
 /* end navbar */

/* jumbotron */

.jumbotron {
    width: 100%;
    align-items: center;
    margin-top: 200px;
    display: inline-block;
}

.content {
    width: 50%;
    padding-left: 80px;
    float: left;
}

.content h2 {
    color: aliceblue;
    font-family: cambria;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(241, 237, 237, 0.5);
}

.content span {
    color: crimson;
}

.content p {
    font-family: cursive;
    font-size: 18px;
    font-weight: 450;
    color: aliceblue;
}

button {
    background-color: crimson;
    color: antiquewhite;
    font-weight: bold;
}

button:hover {
    background-color: teal;
    transition: .4s ease-in-out;
}

.hero {
    width: 100%;
    position: relative;
}

.kotak {
    width: 150px;
    height: 180px;
    margin-right: 90px ;
    border: 5px solid white;
    border-radius: 5px;
    float: right;
    box-shadow: 1px 1px 3px rgba(241, 237, 237, 0.5);
    position: relative;
}

.hero .img {
    width: 170px;
    height: 180px;
    background-image: url(img/citra\ land\ 2.jpg) ;
    background-size: cover;
    background-position: 0 -30px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(241, 237, 237, 0.5);
    float: right;
    margin-top: 20px;
    margin-left: 800px;
    position: absolute;
}
/* end jumbotron */

/* btn */
.tombol {
    width: 100%;
    height: 50px;
    margin-top: 70px;
}

.lanjut {
    width: 130px;
    height: 30px;
    background-color: crimson;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(241, 237, 237, 0.5);
    color: aliceblue;
    margin: 8px auto;
    text-align: center;
    line-height: 29px;
}

.lanjut:hover {
    background-color: teal;
    transition: .4s ease-in-out;
}

.lanjut p {
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.lanjut p a {
    text-decoration: none;
    color: aliceblue;
}


/* end btn */

/* about */
#about {
    background-image: url(img/hitam\ ikan.jpg);
}

.card1 {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card1 div {
    margin-right: 50px;
    margin-top: 10px;
}

.gambar1 {
    width: 250px;
    height: 300px;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(241, 237, 237, 0.3);
    background-image: url(img/pante.jpeg);
    background-size: cover;
}



.card2 {
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card2 div {
    margin-right: 50px;
    margin-top: 10px;
}

.gambar2 {
    width: 250px;
    height: 300px;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(241, 237, 237, 0.3);
    background-image: url(img/pesta\ sandi.jpg);
    background-size: cover;
}

.text h1 {
    color: aliceblue;
    font-family: cambria;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(241, 237, 237, 0.5);
    text-transform: capitalize;
    margin-top: 50px;
    margin-right: 30px;
}

.text span {
    color: crimson;
}

.text p {
    color: aliceblue;
    font-family: cambria;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(241, 237, 237, 0.5);
    text-transform: capitalize;
    margin-left: 70px;
}
/* end about */

/* photos */

.photos {
    width: 100%;
    margin-top: 170px;
}


.photos h1 {
    color: crimson;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-family: cambria;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(241, 237, 237, 0.5);
}

.media {
    max-width: 80%;
    margin-top: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.media div {
    margin: 25px;
}

.poto1 {
    width: 200px;
    height: 300px;
    border: 4px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(241, 237, 237, 0.5);
    background-image: url(img/kemeja\ hitam.jpg);
    background-size: cover;
}
.poto2 {
    width: 200px;
    height: 300px;
    border: 4px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(241, 237, 237, 0.5);
    background-image: url(img/meda\ citra\ land.jpg);
    background-size: cover;
}
.poto3 {
    width: 200px;
    height: 300px;
    border: 4px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(241, 237, 237, 0.5);
    background-image: url(img/kemeja\ hitam2.jpg);
    background-size: cover;
}












/* end photos */





/* android version*/
@media (max-width: 576px) {
/* home */
    .brand {
        margin-left: 70px;
    }


    .navigation {
        margin: auto;
        margin-top: -25px;
        overflow: hidden;
        display: none;

    }

    .navigation ul li a {
        margin-left: -10px;
    }
/* end home */
/* jumbotron */

    .content {
        margin-top: -150px;
    }

    .content h2 {
        width: 500px;
        margin-left: -150px;
        display: inline-block;
        text-align: center;
    }

    .content p {
        width: 400px;
        margin-left: -100px;
        text-align: center;
    }

    .content button {
        width: 130px;
        margin-left: 38px;
    }

    .hero {
        width: 100%;
        height: 200px;
        margin-top: 70px;
        position: relative;
    }

    .hero .kotak {
        margin-top: 40px;
        margin-left: -10px;
        position: relative;
    }

    .hero .img {
        margin: auto;
        margin-top: 20px;
        margin-left: 70px;
        position: absolute;
    }

    .lanjut p {
        margin-top: -40px;
    }
/* end jumbotron */

/* about */
.card1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.card1 div {
    margin: auto;
    text-align: center;
}

.card2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.card2 div {
    margin: auto;
    text-align: center;
}

/* end about */

/* photos */

.photos {
    max-width: 100%;
    height: 100%;
}

.photos h1 {
    margin-top: 400px;
}

.media div {
    margin: 10px;
    margin: auto;
}
.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poto1 {
    width: 300px;
    height: 400px;
    background-size: cover;
}
.poto2 {
    width: 300px;
    height: 400px;
    background-size: cover;
}
.poto3 {
    width: 300px;
    height: 400px;
    background-size: cover;
}



/* end photos */










}